

<!--start content-->
<main class="page-content">
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-4">
        <div class="card radius-10 w-100">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Contribution</h5>
                        <!-- Select year, display current year first access-->
                        <div class="w-5"> 
                            <select class="form-select" id="yearCoordinator" aria-label="Default select example" onchange="SelectedYearInCoordinators(this.value)">
                                @foreach (var item in ViewBag.Years)
                                {
                                    if (item == ViewBag.TotalContribution[0].Year)
                                    {   
                                        <option value="@item" selected>@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item" >@item</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    @if(ViewBag.TotalContribution[0].Total > 0){
                        <div id="chartContributions"></div>
                        <div id="ContributionsTotalData" data-total= "@ViewBag.TotalContribution.Count"></div>
                        <div id="ContributionsApprovedData" data-approved= "@ViewBag.TotalContributionsApproved.Count"></div>
                        <div id="ContributionsPublishedData" data-published= "@ViewBag.TotalContributionsPublished.Count"></div>
                        <div id="ContributionsRejectedData" data-rejected= "@ViewBag.TotalContributionsRejected.Count"></div>
                        <div id="ContributionsPendingData" data-pending= "@ViewBag.TotalContributionsPending.Count"></div>
                    }else{
                        <div class="empty d-flex flex-column align-items-center position-relative">
                            <img src="/.././gif/empty.gif" class="img-fluid w-50" alt="browser" />
                            <p class="position-absolute start-50 translate-middle mt-2" style="top: 85%;">No contribution!</p>
                        </div>
                    }                    
                </div>
        </div>
    </div><!--end row-->

    <div class="row">
        <div class="card radius-10 w-100">
                <div class="card-body">
                    <div class="d-flex align-items-stretch justify-content-between overflow-hidden">
                        <div>
                            <h5 class="mb-0">Contribution without Comment in @ViewBag.Contributions[0].Date.Year</h5>
                            <h6 id="withoutCOmmentCount">0 article</h4>
                        </div>
                    </div>   
                    <div id="TotalContributions"
                        data-totalContributions='@Html.Raw(Json.Serialize(ViewData["Contributions"]))'>
                    </div>             
                    @if(ViewBag.Contributions[0].Quantity > 0){
                        <div id="ContributionsWithoutCommentData"
                            data-withoutcomment='@Html.Raw(Json.Serialize(ViewData["ContributionWithoutComments"]))'>
                        </div>
                        <div id="ContributionsOver14DaysData"
                                data-over14days='@Html.Raw(Json.Serialize(ViewData["ContributionWithoutCommentsAfter14Days"]))'>
                        </div>
                        <div id="chartCoordinators1"></div>
                    }else{
                        <div class="empty d-flex flex-column align-items-center position-relative">
                            <img src="/.././gif/empty.gif" class="img-fluid w-50" alt="browser" />
                            <p class="position-absolute start-50 translate-middle mt-2" style="top: 85%;">No approved contribution in @ViewBag.ContributionUser[0].Faculty!</p>
                        </div>
                    }
                </div>
        </div>
    </div><!--end row-->

    <div class="row">
            <div class="col ps-0">
                <div class="card radius-10 w-100">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="d-flex">
                                <h5>Quantity Of Contributors in "@ViewBag.ContributionUser[0].Faculty"</h5>
                            </div>
                            <div class="dropdown ms-auto">
                                <select class="form-select" id="yearUser" aria-label="Default select example" onchange="SelectedYearContributors(this.value)">
                                    @foreach (var item in ViewBag.Years)
                                    {
                                        if (item == ViewBag.ContributionUser[0].Year)
                                        {
                                            <option value="@item" selected>@item</option>
                                        }
                                        else
                                        {
                                            <option value="@item" >@item</option>
                                        }
                                    }   
                                </select>
                            </div>
                        </div>
                        @if(ViewBag.ContributionUser[0].TotalContribution > 0){
                            <div class="table-responsive mt-2">
                                <table class="table align-middle mb-0">
                                    <thead class="table-light">
                                        <tr>
                                            <th>No </th>
                                            <th>Student Name</th>
                                            <th>Total contributions</th>
                                            <th>Accepted</th>
                                            <th>Rejected</th>
                                            <th>Pending</th>
                                        </tr>
                                    </thead>
                                    <tbody id="qtyContribution">
                                        @{
                                            var i = 1;
                                        }
                                        
                                        @foreach (var item in ViewBag.ContributionUser)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.FullName</td>
                                                <td class="totalContributionCell">@item.TotalContribution</td>
                                                <td>@item.TotalAccept</td>
                                                <td>@item.TotalReject</td>
                                                <td>@item.TotalPending</td>
                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }else{
                            <div class="empty d-flex flex-column align-items-center position-relative">
                                <img src=".././gif/empty.gif" class="img-fluid w-50" alt="browser" />
                                <p class="position-absolute start-50 translate-middle mt-2" style="top: 85%;">No contribution in @ViewBag.ContributionUser[0].Faculty!</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->
</main>
<!--end page main-->
<script src="~/managers/assets/js/manage/coordinators.js"></script>
