

<!--start content-->
<main class="page-content">
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-4">
        <div class="card radius-10 w-100">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <h6 class="mb-0">Contribution</h6>
                        <!-- Select year, display current year first access-->
                            <select class="form-select" id="yearCoordinator" aria-label="Default select example" onchange="SelectedYearInCoordinators(this.value)">
                                @foreach (var item in ViewBag.Years)
                                {
                                    if (item == ViewBag.TotalContribution[0].Year)
                                    {
                                        <option value="@item" selected>@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item" >@item</option>
                                    }
                                }
                            </select>
                    </div>
                    <div class="d-flex align-items-center gap-5 justify-content-center mt-3 p-2 radius-10 border">
                        <div class="text-center">
                            <h3 class="mb-2 text-primary" id="totalContributions">0 article</h3>
                            <p class="mb-0">Total contribution</p>
                        </div>                        
                        <div id="totalContributionData"
                                data-totalcontribution='@Html.Raw(Json.Serialize(ViewData["TotalContribution"]))'>
                        </div>
                        
                        <div class="border-end sepration"></div>
                        <div class="text-center">
                            <h3 class="mb-2 text-primary-2" id="totalAccepted">0 article</h3>
                            <p class="mb-0">Total Contribution Accepted</p>
                        </div>                        
                        <div id="totalAcceptedData"
                                data-totalaccepted='@Html.Raw(Json.Serialize(ViewData["TotalContributionsAccepted"]))'>
                        </div>
                        
                        <div class="border-end sepration"></div>
                        <div class="text-center">
                            <h3 class="mb-2 text-primary-2" id="totalRejected">0 article</h3>
                            <p class="mb-0">Total Contribution Rejected</p>
                        </div>                     
                        <div id="totalRejectedData"
                                data-totalrejected='@Html.Raw(Json.Serialize(ViewData["TotalContributionsRejected"]))'>
                        </div>
                        
                        <div class="border-end sepration"></div>
                        <div class="text-center">
                            <h3 class="mb-2 text-primary-2" id="totalPending">0 article</h3>
                            <p class="mb-0">Total Contribution Pending</p>
                        </div>                        
                        <div id="totalPendingData"
                                data-totalpending='@Html.Raw(Json.Serialize(ViewData["TotalContributionsPending"]))'>
                        </div>
                    </div>
                </div>
        </div>
    </div><!--end row-->

    <div class="row">
        <div class="card radius-10 w-100">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <h6 class="mb-0">Contribution without Comment</h6>
                    </div>
                     <div id="contributionWithoutCommentsData"
                            data-contributionWithoutComments='@Html.Raw(Json.Serialize(ViewData["ContributionWithoutComments"]))'>
                    </div>
                    <div id="chartCoordinators1"></div>
                </div>
        </div>
    </div><!--end row-->

</main>
<!--end page main-->