@* @model IEnumerable<COMP1640.Models.Contribution>; *@
@model IEnumerable<COMP1640.Models.ContributionUsersModel>;
<style>
    .navigation-wrapper .primary-navigation-wrapper header .navbar-brand:after {
        height: 8px !important;
    }
</style>
<!-- Page Content -->
<div id="page-content">
    <div class="container">
        <header>
            <h1>My Account</h1>
        </header>
        <div class="row">
            <div class="col-md-12">
                <section id="my-account">
                    <ul class="nav nav-tabs" id="tabs">
                        <li class="active"><a href="#tab-profile" data-toggle="tab">Profile</a></li>
                        <li><a href="#tab-my-courses" data-toggle="tab">My Submissions</a></li>
                        <li><a href="#tab-change-password" data-toggle="tab">Change Password</a></li>
                    </ul><!-- /#my-profile-tabs -->
                    <div class="tab-content my-account-tab-content">
                        <div class="tab-pane active" id="tab-profile">
                            <form id="profile-form" method="post" enctype="multipart/form-data">
                                <input type="hidden" asp-for="Id" />
                                <!-- Thêm form tag với method POST và enctype cho file upload -->
                                <section id="my-profile">
                                    <header>
                                        <h3>My Profile</h3>
                                    </header>
                                    <div class="my-profile">
                                        <figure class="profile-avatar">
                                            <div class="image-wrapper"><img
                                                    src="~/students/assets/img/profile-avatar.jpg" alt="Profile Avatar">
                                            </div>
                                        </figure>
                                        <article>
                                            <div class="table-responsive">
                                                <table class="my-profile-table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="title">Full Name</td>
                                                            <td>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" id="name"
                                                                        name="name" value="@ViewBag.userFullName">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="title">Address</td>
                                                            <td>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control"
                                                                        id="location" name="location"
                                                                        value="@ViewBag.userAddress">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="title">Faculty</td>
                                                            <td>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" id="faculty"
                                                                        name="faculty" value="@ViewBag.userFaculty">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="title">Email</td>
                                                            <td>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" id="website"
                                                                        name="website" value="@ViewBag.userEmail">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="title">Change Photo</td>
                                                            <td>
                                                                <div class="input-group">
                                                                    <input type="file" id="change-photo" name="photo">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <button type="submit" class="btn pull-right">Save Changes</button>
                                        </article>
                                    </div><!-- /.my-profile -->
                                </section><!-- /#my-profile -->
                            </form>
                        </div><!-- /tab-pane -->
                        <div class="tab-pane" id="tab-my-courses">
                            <section id="course-list">
                                <header>
                                    <h3>My Submissions</h3>
                                </header>
                                <p><a asp-controller="Students" asp-action="FromCreateSubmission"
                                        class="btn btn-color-primary btn-small">Add new submission</a></p>
                                <table class="table table-hover table-responsive course-list-table tablesorter">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th class="starts">Date Submitted</th>
                                            <th class="status">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.contributions)
                                        {
                                            if (item.UserId == ViewBag.userId)
                                            {
                                                <tr class="status-not-started">
                                                    <th class="course-title"><a href="course-detail-v1.html">@item.Title</a>
                                                    </th>
                                                    <th>@item.SubmissionDate</th>
                                                    <th class="status"><i class="fa fa-calendar-o"></i>@item.Status</th>
                                                </tr>
                                            }

                                        }
                                    </tbody>
                                </table>
                                <div class="center">
                                    <ul class="pagination">
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                    </ul>
                                </div>
                            </section><!-- /#course-list -->
                        </div><!-- /.tab-pane -->
                        <div class="tab-pane" id="tab-change-password">
                            <section id="password">
                                <header>
                                    <h3>Change Password</h3>
                                </header>
                                <div class="row">
                                    <div class="col-md-5 col-md-offset-4">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            In sollicitudin mi id urna pulvinar, in ornare dui scelerisque.
                                            Nunc nec odio eros
                                        </p>
                                        <form role="form" class="clearfix" action="course-joined.html">
                                            <div class="form-group">
                                                <label for="current-password">Current Password</label>
                                                <input type="password" class="form-control" id="current-password">
                                            </div>
                                            <div class="form-group">
                                                <label for="new-password">New Password</label>
                                                <input type="password" class="form-control" id="new-password">
                                            </div>
                                            <div class="form-group">
                                                <label for="repeat-new-password">Repeat New Password</label>
                                                <input type="password" class="form-control" id="repeat-new-password">
                                            </div>
                                            <button type="submit" class="btn pull-right">Change Password</button>
                                        </form>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div><!-- /.tab-content -->
                </section>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->
