@model IEnumerable<COMP1640.Models.Contribution>
@inject Microsoft.AspNetCore.Identity.UserManager<COMP1640.Areas.Identity.Data.COMP1640User> _userManager
<style>
    .navigation-wrapper .primary-navigation-wrapper header .navbar-brand:after {
        height: 10px !important;
    }
</style>
<!-- Breadcrumb -->
<div class="container">
    <ol class="breadcrumb">
        <li><a href="~/students/Index">Home</a></li>
        <li class="active">Submissions</li>
    </ol>
</div>
<!-- end Breadcrumb -->
<!-- Page Content -->
<div id="page-content">
    <div class="container">
        <div class="row">
            <!--MAIN Content-->
            <div class="col-md-12">
                <div id="page-main">
                    <section class="course-listing" id="courses">
                        <header>
                            <h1>Submissions</h1>
                        </header>
                        <section id="course-list">
                            <div class="table-responsive">
                                <table class="table table-hover course-list-table tablesorter">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Contributions ID</th>
                                            <th>Full Name</th>
                                            <th>Title</th>
                                            <th>Submission Date</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int index = 1;
                                        }
                                        @foreach (var publishedContributions in Model)
                                        {
                                            <tr>
                                                <td>@index</td>
                                                <td>@publishedContributions.ContributionId</td>
                                                @{
                                                    if (publishedContributions != null)
                                                    {
                                                        string userId = publishedContributions.UserId;
                                                        var user = await _userManager.FindByIdAsync(userId);
                                                        string fullName = user != null ? user.FullName : "Unknown";
                                                        <td>@fullName</td>
                                                    }
                                                    else
                                                    {
                                                        <td>Unknown</td>
                                                    }
                                                }
                                                <td>@publishedContributions.Title</td>
                                                <td>@publishedContributions.SubmissionDate.ToString("dd/MM/yyyy")</td>
                                                <td>
                                                    @if (publishedContributions.Status == "Pending")
                                                    {
                                                        <span class="badge bg-light-warning text-warning w-100">Pending</span>
                                                    }
                                                    else if (publishedContributions.Status == "Rejected")
                                                    {
                                                        <span class="badge bg-light-danger text-danger w-100">Rejected</span>
                                                    }
                                                    else if (publishedContributions.Status == "Approved")
                                                    {
                                                        <span class="badge bg-light-success text-success w-100">Approved</span>
                                                    }
                                                </td>
                                                <td>
                                                    <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                                        <button
                                                            onclick="window.location.href='@Url.Action("DownloadContributionFiles", "Managers", new { id = publishedContributions.ContributionId })'"
                                                            class="btn btn-sm btn-danger" data-bs-toggle="tooltip"
                                                            data-bs-placement="bottom" title="Download">
                                                            Download
                                                        </button>
                                                    </div>
                                                </td>

                                            </tr>
                                            index++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    @* </section><!-- /.course-listing -->
                    <div class="center">
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </div> *@
                </div><!-- /#page-main -->
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->