@model COMP1640.Models.Contribution
@using Microsoft.AspNetCore.Identity
@using COMP1640.Areas.Identity.Data
@inject UserManager<COMP1640User> UserManager
<style>
    .navigation-wrapper .primary-navigation-wrapper header .navbar-brand:after {
        height: 10px !important;
    }

    .vertical-center {
        bottom: 0;
        margin: auto;
        top: 5vw;
        position: absolute;
    }

    .comment-list {
        margin-top: 20px;
    }

    .comment-card {
        margin-bottom: 20px;
        border: 1px solid #ced4da;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .comment-card .card-body {
        padding: 15px;
    }

    .comment-card .card-text {
        color: #333;
    }

    .comment-card .card-text small {
        color: #888;
    }

    .comment-card .card-text.comment-content {
        font-weight: bold;
        color: #0c14a9;
    }
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        padding: 10px 20px; 
        font-size: 16px; 
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

    .form-group {
        margin-bottom: 20px;
    }
</style>
<!-- Breadcrumb -->
<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Courses</a></li>
        <li class="active">Detail v1</li>
    </ol>
</div>
<!-- end Breadcrumb -->

<!-- Page Content -->
<div id="page-content">
    <div class="container">
        <header>
            <h1>Submission Detail</h1>
        </header>
        <div class="row">
            <!--MAIN Content-->
            <div class="col-md-12">
                <div id="page-main">
                    <section id="course-detail">
                        <article class="course-detail">
                            <section id="course-header">
                                <header>
                                    <h2 class="course-date">@Model.Title</h2>
                                    <div class="course-category">Date Submitted: <span>@Model.SubmissionDate</span>
                                    </div>
                                </header>
                                <hr>
                                <section id="join-to-course" class="center">
                                    <a asp-controller="Students" asp-action="FromEditSubmission" asp-route-id="@Model.ContributionId"
                                        class="btn">Change Submission</a>
                                </section>
                                <hr>
                                <figure id="course-summary">
                                    <span class="course-summary" id="course-length"><i class="fa fa-book"></i>Magazine
                                        Name</span>
                                    <span class="course-summary" id="course-time-amount"><i class="fa fa-rocket"
                                            aria-hidden="true"></i></i>Status: <strong>@Model.Status</strong></span>
                                </figure><!-- /#course-summary -->
                            </section><!-- /#course-header -->

                            <div class="row">
                                <div class="col-xl-6 mx-auto">
                                    <div class="card comment-list">
                                        <div class="card-body">
                                            <h6 class="mb-0 text-uppercase">COMMENT LIST OF COORDINATORS</h6>
                                            <hr />
                                            <div class="card text-wrap" style="height: 300px; overflow-y: auto;">
                                                @if (ViewBag.Comments != null && ViewBag.Comments.Count > 0)
                                                {
                                                    foreach (var comment in ViewBag.Comments)
                                                    {
                                                        <div class="card mb-3 comment-card">
                                                            <div class="card-body">
                                                                @* <h6 class="card-title" style="color: red; font-weight:
                                        bold;">@ViewBag.userFullName</h6> *@
                                                                <p class="card-text comment-content">@comment.CommentField</p>
                                                                <p class="card-text"><small class="text-muted">Comment Date:
                                                                        @comment.CommentDate</small></p>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <p>No comments available.</p>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 mx-auto">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="border p-3 rounded">
                                            <hr />
                                            <form class="row g-3" asp-action="UpdateComment" method="post">
                                                <input type="hidden" asp-for="ContributionId" />
                                                <div class="form-group"> 
                                                    <label class="form-label">Comment</label>
                                                    <input asp-for="Comment" class="form-control" />
                                                    <span asp-validation-for="Comment" class="text-danger"></span>
                                                </div>
                                                <div class="form-group"> 
                                                    <div class="d-grid">
                                                        <button type="submit" class="btn btn-primary">Send</button>
                                                    </div>
                                                </div>

                                                <div class="col-12 mt-3">
                                                    <div class="alert alert-warning" role="alert">
                                                        The deadline to comment on this contribution is <strong>
                                                            @ViewBag.Deadline
                                                        </strong>
                                                    </div>
                                                    <input type="hidden" name="contributionId" value="">
                                                </div>
                                                <input type="hidden" id="userId" name="id" value="@UserManager.GetUserId(User)">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </article><!-- /.course-detail -->
                    </section><!-- /.course-detail -->
                </div><!-- /#page-main -->
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->
