

<!--start content-->
<main class="page-content">
    <div class="row row-cols-1 row-cols-lg row-cols-xl row-cols-xxl ps-3">
        <div class="card overflow-hidden radius-10">
                <div class="card-body">
                    <div class="d-flex align-items-stretch justify-content-between overflow-hidden">
                        <div class="">
                            <p>Total Contributions</p>
                            <h4 class="" id="totalArticles">0 article</h4>
                        </div>              
                        <div class="w-5">   
                            <!-- Select year, display current year first access-->
                            <select class="form-select" id="yearTotal" aria-label="Default select example" onchange="SelectedYearContributions(this.value)">
                                @foreach (var item in ViewBag.Years)
                                {
                                    if (item == ViewBag.Contributions[0].Year)
                                    {
                                        <option value="@item" selected>@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item" >@item</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div id="ContributionsTotalData" data-total='@Html.Raw(Json.Serialize(ViewData["Contributions"]))'></div>
                      
                        <div class="d-flex">
                            <div id="chartColumnContributions"></div>
                            <div id="chartPieContributions"></div>
                        </div>   
                </div>
            </div>
        </div>
    </div>
    <!--end row-->

    <!-- Tương tự Total Contributions -->
    <div class="row row-cols-1 row-cols-lg row-cols-xl row-cols-xxl ps-3">
        <div class="card overflow-hidden radius-10">
                <div class="card-body">
                    <div class="d-flex align-items-stretch justify-content-between overflow-hidden">
                        <div class="">
                            <p>Approved Contributions</p>
                            <h4 class="" id="totalApproved">0 article</h4>
                        </div>              
                        <div class="w-5">   
                            <!-- Select year, display current year first access-->
                            <select class="form-select" id="yearApproved" aria-label="Default select example" onchange="SelectedYearContributions(this.value)">
                                @foreach (var item in ViewBag.Years)
                                {
                                    if (item == ViewBag.Contributions[0].Year)
                                    {
                                        <option value="@item" selected>@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item" >@item</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div id="ContributionsApprovedData" data-approved= '@Html.Raw(Json.Serialize(ViewData["ApprovedContribution"]))' data-rejected= '@Html.Raw(Json.Serialize(ViewData["ContributionsRejected"]))' data-pending= '@Html.Raw(Json.Serialize(ViewData["ContributionsPending"]))'></div>
                        <div class="d-flex">
                            <div id="chartPieApproved"></div>
                            <div id="chartColumnApproved"></div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <!-- Tương tự Total Contributions viết Rejected-->
    <div class="row row-cols-1 row-cols-lg row-cols-xl row-cols-xxl ps-3">
        <div class="card overflow-hidden radius-10">
                <div class="card-body">
                    <div class="d-flex align-items-stretch justify-content-between overflow-hidden">
                        <div class="">
                            <p>Rejected Contributions</p>
                            <h4 class="" id="totalRejected">0 article</h4>
                        </div>              
                        <div class="w-5">   
                            <!-- Select year, display current year first access-->
                            <select class="form-select" id="yearRejected" aria-label="Default select example" onchange="SelectedYearContributions(this.value)">
                                @foreach (var item in ViewBag.Years)
                                {
                                    if (item == ViewBag.Contributions[0].Year)
                                    {
                                        <option value="@item" selected>@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item" >@item</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div id="ContributionsRejectedData" data-rejected= '@Html.Raw(Json.Serialize(ViewData["ContributionsRejected"]))'></div>
                        <div class="d-flex">
                            <div id="chartPieRejected"></div>
                            <div id="chartColumnRejected"></div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

</main>
<!--end page main-->