@page
@model LoginModel

@{
    Layout = "~/Views/Shared/_Layout_Students.cshtml";
    ViewData["Title"] = "Log in";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-6">
        <section>
            <style>
                .navigation-wrapper .primary-navigation-wrapper header .navbar-brand:after {
                    height: 10px !important;
                }
            </style>
            <!-- Page Content -->
            <div id="page-content">
                <div class="container">
                    <div class="row">
                        <!--MAIN Content-->
                        <div id="page-main">
                            <div class="col-md-10 col-sm-10 col-sm-offset-1 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <section id="account-sign-in" class="account-block">
                                            <header>
                                                <h2>Have an Account?</h2>
                                            </header>
                                            <form role="form" class="clearfix" id="account" method="post">
                                                @* <form role="form" class="clearfix" action="course-joined.html"> *@
                                                <div asp-validation-summary="ModelOnly" class="text-danger"
                                                    role="alert"></div>
                                                <div class="form-group">
                                                    <label asp-for="Input.Email">Email address</label>
                                                    <input asp-for="Input.Email" type="email" class="form-control"
                                                        placeholder="Enter email">
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Input.Password">Password</label>
                                                    <input asp-for="Input.Password" type="password" class="form-control"
                                                        placeholder="Password">
                                                </div>
                                                <div class="checkbox mb-3">
                                                    <label asp-for="Input.RememberMe" class="form-label">
                                                        <input class="form-check-input" asp-for="Input.RememberMe" />
                                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                                    </label>
                                                </div>
                                                <div>
                                                    <button id="login-submit" type="submit"
                                                        class="w-100 btn btn-lg btn-primary pull-right">Sign In</button>
                                                </div>

                                                <div>
                                                    <p>
                                                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your
                                                            password?</a>
                                                    </p>
                                                    <p>
                                                        <a asp-page="./Register"
                                                            asp-route-returnUrl="@Model.ReturnUrl">Register as a new
                                                            user</a>
                                                    </p>
                                                    <p>
                                                        <a id="resend-confirmation"
                                                            asp-page="./ResendEmailConfirmation">Resend email
                                                            confirmation</a>
                                                    </p>
                                                </div>
                                            </form>
                                            <hr>

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae
                                                tincidunt.</p>
                                        </section><!-- /#account-block -->
                                    </div><!-- 
                    </div><!-- /.row -->
                                </div><!-- /.col-md-10 -->
                            </div><!-- /#page-main -->
                            <!-- end SIDEBAR Content-->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div>
                <!-- end Page Content -->
        </section>
    </div>
    <div class="col-md-4 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a
                                href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post"
                        class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name"
                                        title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@* <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
