@model COMP1640.Models.MultiModels.ContributionFaculty

@{
    ViewData["Faculties"] = "ListContributions";
}

<main class="page-content">
    <div class="row row-cols-1 row-cols-lg row-cols-xl row-cols-xxl ps-3">
        <div class="card overflow-hidden radius-10">
                <div class="card-body">
                    <div class="d-flex align-items-stretch justify-content-between overflow-hidden">
                        <div class="">
                            <p>Total Contributions</p>
                            <h4 class="" id="totalArticles">0 article</h4>
                        </div>
                        <div class="card-body">
                                <div id="chart5"></div>
                                @foreach (var item in ViewBag.ContributionYear)
                                {
                                    <div class="contribution-item" data-month="@item.Month" data-total="@item.TotalByMonth"></div>
                                }
                            </div>
                        <div class="w-5">   
                            <!-- Select year, display current year first access-->
                            <select class="form-select" id="year" aria-label="Default select example" onchange="SelectedYear(this.value)">
                                @foreach (var item in ViewBag.Years)
                                {
                                    if (item == ViewBag.ContributionYear[0].Year)
                                    {
                                        <option value="@item" selected>@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item" >@item</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!--end row-->

    <div class="row">      
    <div class="col-12 col-lg-6 col-xl-4 d-flex">
            <div class="card radius-10 w-100">
                <div class="card-body">
                    @foreach (var item in ViewBag.RoleStatistics)
                    {
                        <div class="card radius-10 border shadow-none mb-3">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <p class="mb-1">@item.Role Accounts</p>
                                        <h4 class="mb-0 text-primary">@item.Total</h4>
                                    </div>
                                </div>
                            </div>
                    </div>
                    }                    
                </div>
            </div>
        </div> 
        <div class="col-6 col-lg-6 col-xl-8 d-flex">
            <div class="card radius-10 w-100">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <h6 class="mb-0">Contributions</h6>
                        <div class="fs-5 ms-auto dropdown">
                            <select class="form-select" id="year" aria-label="Default select example" onchange="GetContributionByYear(this.value)">
                                @foreach (var item in ViewBag.Years)
                                {
                                    if (item == ViewBag.ContributionFaculty[0].SubmissionDate.Year)
                                    {
                                        <option value="@item" selected>@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item" >@item</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row m-2 align-items-center">
                        <div class="col-6 col-lg-6 col-xl-8 align-items-center">
                            <div class="by-device-container">
                                <div class="piechart-legend" id="piechart">
                                    <h2 class="mb-1" id="percent">85%</h2>
                                    <h6 class="mb-0" id="falcuty">Arts and Humanities</h6>
                                </div>
                                <canvas id="chart6"></canvas>
                            </div>
                        </div>   
                        <div class="col-6 col-lg-6 col-xl-4">
                                <ul class="list-group list-group-flush faculty">
                                    <!-- Display ViewData['Faculties'] -->
                                    @foreach (var item in ViewBag.ContributionFaculty)
                                    {
                                            <li class="list-group-item d-flex align-items-center justify-content-between border-0">
                                                <i class="bi bi-square-fill me-2 text-primary lstContributions"></i> <span>@item.Faculty - </span> <span>@item.Total articles</span>
                                            </li>
                                    }                                       
                                </ul>
                            </div>                                           
                    </div>
                </div>
            </div>
        </div>
    </div><!--end row-->


    <div class="row">
        <div class="d-flex">
            <div class="card radius-10 w-100">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <h6>Quantity Of Contributors</h6>
                            <h4 class="" id="totalContributors">0 article</h4>
                        </div>
                        
                        <div class="fs-5 ms-auto dropdown">
                            <select class="form-select" id="yearUser" aria-label="Default select example" onchange="SelectedYearUser(this.value)">
                                @foreach (var item in ViewBag.Years)
                                {
                                    if (item == ViewBag.ContributionUser[0].Year)
                                    {
                                        <option value="@item" selected>@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item" >@item</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive mt-2">
                        <table class="table align-middle mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th>Student Name</th>
                                    <th>Faculty</th>
                                    <th>Total contributions</th>
                                    <th>Accepted</th>
                                    <th>Rejected</th>
                                    <th>Pending</th>
                                </tr>
                            </thead>
                            <tbody id="qtyContribution">
                                    @foreach (var item in ViewBag.ContributionUser)
                                    {
                                        
                                        <tr>
                                            <td>@item.FullName</td>
                                            <td>@item.Faculty</td>
                                            <td class="totalContributionCell">@item.TotalContribution</td>
                                            <td>@item.TotalAccept</td>
                                            <td>@item.TotalReject</td>
                                            <td>@item.TotalPending</td>                            
                                        </tr>
                                    }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end row-->

    <!-- <div class="row">
        <div class="col-12 col-lg-12 col-xl-8 d-flex">
            <div class="card radius-10 w-100">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <h6 class="mb-0">Recent Orders</h6>
                        <div class="fs-5 ms-auto dropdown">
                            <div class="dropdown-toggle dropdown-toggle-nocaret cursor-pointer" data-bs-toggle="dropdown">
                                <i class="bi bi-three-dots"></i>
                            </div>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-responsive mt-2">
                        <table class="table align-middle mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th>#ID</th>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#89742</td>
                                    <td>
                                        <div class="d-flex align-items-center gap-3">
                                            <div class="product-box border">
                                                <img src="assets/images/products/11.png" alt="">
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-name mb-1">Smart Mobile Phone</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>2</td>
                                    <td>$214</td>
                                    <td>Apr 8, 2021</td>
                                    <td>
                                        <div class="d-flex align-items-center gap-3 fs-6">
                                            <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip"
                                               data-bs-placement="bottom" title="" data-bs-original-title="View detail"
                                               aria-label="Views"><i class="bi bi-eye-fill"></i></a>
                                            <a href="javascript:;" class="text-warning" data-bs-toggle="tooltip"
                                               data-bs-placement="bottom" title="" data-bs-original-title="Edit info" aria-label="Edit">
                                                <i class="bi bi-pencil-fill"></i>
                                            </a>
                                            <a href="javascript:;" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                               title="" data-bs-original-title="Delete" aria-label="Delete">
                                                <i class="bi bi-trash-fill"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#68570</td>
                                    <td>
                                        <div class="d-flex align-items-center gap-3">
                                            <div class="product-box border">
                                                <img src="assets/images/products/07.png" alt="">
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-name mb-1">Sports Time Watch</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>1</td>
                                    <td>$185</td>
                                    <td>Apr 9, 2021</td>
                                    <td>
                                        <div class="d-flex align-items-center gap-3 fs-6">
                                            <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip"
                                               data-bs-placement="bottom" title="" data-bs-original-title="View detail"
                                               aria-label="Views"><i class="bi bi-eye-fill"></i></a>
                                            <a href="javascript:;" class="text-warning" data-bs-toggle="tooltip"
                                               data-bs-placement="bottom" title="" data-bs-original-title="Edit info" aria-label="Edit">
                                                <i class="bi bi-pencil-fill"></i>
                                            </a>
                                            <a href="javascript:;" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                               title="" data-bs-original-title="Delete" aria-label="Delete">
                                                <i class="bi bi-trash-fill"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#38567</td>
                                    <td>
                                        <div class="d-flex align-items-center gap-3">
                                            <div class="product-box border">
                                                <img src="assets/images/products/17.png" alt="">
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-name mb-1">Women Red Heals</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>3</td>
                                    <td>$356</td>
                                    <td>Apr 10, 2021</td>
                                    <td>
                                        <div class="d-flex align-items-center gap-3 fs-6">
                                            <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip"
                                               data-bs-placement="bottom" title="" data-bs-original-title="View detail"
                                               aria-label="Views"><i class="bi bi-eye-fill"></i></a>
                                            <a href="javascript:;" class="text-warning" data-bs-toggle="tooltip"
                                               data-bs-placement="bottom" title="" data-bs-original-title="Edit info" aria-label="Edit">
                                                <i class="bi bi-pencil-fill"></i>
                                            </a>
                                            <a href="javascript:;" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                               title="" data-bs-original-title="Delete" aria-label="Delete">
                                                <i class="bi bi-trash-fill"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#48572</td>
                                    <td>
                                        <div class="d-flex align-items-center gap-3">
                                            <div class="product-box border">
                                                <img src="assets/images/products/04.png" alt="">
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-name mb-1">Yellow Winter Jacket</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>1</td>
                                    <td>$149</td>
                                    <td>Apr 11, 2021</td>
                                    <td>
                                        <div class="d-flex align-items-center gap-3 fs-6">
                                            <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip"
                                               data-bs-placement="bottom" title="" data-bs-original-title="View detail"
                                               aria-label="Views"><i class="bi bi-eye-fill"></i></a>
                                            <a href="javascript:;" class="text-warning" data-bs-toggle="tooltip"
                                               data-bs-placement="bottom" title="" data-bs-original-title="Edit info" aria-label="Edit">
                                                <i class="bi bi-pencil-fill"></i>
                                            </a>
                                            <a href="javascript:;" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                               title="" data-bs-original-title="Delete" aria-label="Delete">
                                                <i class="bi bi-trash-fill"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#96857</td>
                                    <td>
                                        <div class="d-flex align-items-center gap-3">
                                            <div class="product-box border">
                                                <img src="assets/images/products/10.png" alt="">
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-name mb-1">Orange Micro Headphone</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>2</td>
                                    <td>$199</td>
                                    <td>Apr 15, 2021</td>
                                    <td>
                                        <div class="d-flex align-items-center gap-3 fs-6">
                                            <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip"
                                               data-bs-placement="bottom" title="" data-bs-original-title="View detail"
                                               aria-label="Views"><i class="bi bi-eye-fill"></i></a>
                                            <a href="javascript:;" class="text-warning" data-bs-toggle="tooltip"
                                               data-bs-placement="bottom" title="" data-bs-original-title="Edit info" aria-label="Edit">
                                                <i class="bi bi-pencil-fill"></i>
                                            </a>
                                            <a href="javascript:;" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                               title="" data-bs-original-title="Delete" aria-label="Delete">
                                                <i class="bi bi-trash-fill"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#96857</td>
                                    <td>
                                        <div class="d-flex align-items-center gap-3">
                                            <div class="product-box border">
                                                <img src="assets/images/products/12.png" alt="">
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-name mb-1">Pro Samsung Laptop</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>1</td>
                                    <td>$699</td>
                                    <td>Apr 18, 2021</td>
                                    <td>
                                        <div class="d-flex align-items-center gap-3 fs-6">
                                            <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip"
                                               data-bs-placement="bottom" title="" data-bs-original-title="View detail"
                                               aria-label="Views"><i class="bi bi-eye-fill"></i></a>
                                            <a href="javascript:;" class="text-warning" data-bs-toggle="tooltip"
                                               data-bs-placement="bottom" title="" data-bs-original-title="Edit info" aria-label="Edit">
                                                <i class="bi bi-pencil-fill"></i>
                                            </a>
                                            <a href="javascript:;" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                               title="" data-bs-original-title="Delete" aria-label="Delete">
                                                <i class="bi bi-trash-fill"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-4 d-flex">
            <div class="card radius-10 w-100">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <h6 class="mb-0">Sales By Country</h6>
                        <div class="fs-5 ms-auto dropdown">
                            <div class="dropdown-toggle dropdown-toggle-nocaret cursor-pointer" data-bs-toggle="dropdown">
                                <i class="bi bi-three-dots"></i>
                            </div>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="geographic-map" class="mt-2"></div>
                    <div class="traffic-widget">
                        <div class="progress-wrapper mb-3">
                            <p class="mb-1">United States <span class="float-end">$2.5K</span></p>
                            <div class="progress rounded-0" style="height: 6px;">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 75%;"></div>
                            </div>
                        </div>
                        <div class="progress-wrapper mb-3">
                            <p class="mb-1">Russia <span class="float-end">$4.5K</span></p>
                            <div class="progress rounded-0" style="height: 6px;">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%;"></div>
                            </div>
                        </div>
                        <div class="progress-wrapper mb-0">
                            <p class="mb-1">Australia <span class="float-end">$8.5K</span></p>
                            <div class="progress rounded-0" style="height: 6px;">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 80%;"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div> -->
    <!--end row-->


</main>
<!--end page main-->